#aboutUs {
    color:black;
}
.heading{
    position: relative;
    display: inline;
    text-align: center;
    font-family: -webkit-body;
    margin-left: 33%;
    margin-top: 2%;
}

.heading h1{
    font-size: 50px;
    font-weight: 600;
}

.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
	text-align: left;
    padding: 5px;
    margin-bottom: 2%; 
}

.img {
    display: flex;
    position: relative;
    margin-left: 7%;
}

.img > img {
    height: 350px;
    width: 400px;
}

.content {
    position: relative;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 80px;
    margin-right: 4.5%;
    font-weight:500;
}